{{define "body"}}
{{if ne .User.ID 0}}
<form action="/logout" method="POST">
<button type="submit">Logout</button>
</form>
<p>
Welcome {{.User.FirstName}}.
</p>
<h3>Get shoutin':</h3>
{{if .ErrorMessage}}
<p style="color: red;">{{.ErrorMessage}}</p>
{{end}}
<form action="/shout" method="POST">
<textarea rows="4" cols="80" name="content" required>
</textarea>
<button type="submit">Shout!</button>
</form>
{{if .Shouts}}
{{range $shout := .Shouts}}
<div style="margin-bottom: 10px; font-size: 1.1rem;">
<div style="font-size: 0.8rem;"><b>{{$shout.FirstName}} {{$shout.LastName}}</b> @{{$shout.Username}} | {{$shout.CreatedAt.Time.Format "Jan 02, 2006 15:04:05"}}</div>
{{$shout.Content}}
</div>
{{end}}
{{else}}
<i>Once you or others do some shouting, the shouts will appear here.</i>
{{end}}
{{else}}
<h1>Shoutr</h1>
<p>Shoutr is a new kind of web 3.0 social media platform.</p>
<p>With Shoutr, you can shout your opinions on the Internet!</p>
<p>Sign up for an account today to access the content in our walled garden.</p>
<a href="/signup">Sign Up</a> |
<a href="/login">Login</a>
{{end}}
{{end}}
