{{define "body"}}
<h2>Sign Up</h2>
{{if .ErrorMessage}}
<p style="color: red;">{{.ErrorMessage}}</p>
{{end}}
<form action="/signup" method="POST">
<div>
<label><b>First Name:</b></label>
<input type="text" placeholder="First Name" name="first_name" required>
</div>

<div>
<label><b>Last Name:</b></label>
<input type="text" placeholder="Last Name" name="last_name" required>
</div>

<div>
<label><b>Username:</b></label>
<input type="text" placeholder="Username" name="username" required>
</div>

<div>
<label><b>Email (optional):</b></label>
<input type="text" placeholder="Email" name="email">
</div>

<div>
<button type="submit">Sign Up</button>
</div>
</form>
{{end}}
